<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <Title>Expense Tracker</Title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="nav">
            <div class="logo">
                 <img src="{{ url_for('static', filename='images/images.jpg') }}" alt="Logo" width="10%">
            </div>

            <div class="aut">
                <a href="{{ url_for('login') }}" class="login">Login</a>
                <a href="{{ url_for('signup') }}" class="signup">Sign up</a>

            </div>
            
        </div>






    </body>
</html>